body {
  font-family:  'Roboto', sans-serif;
  text-align: center;
  background-color: rgba(74, 131, 238, 0.644);
  
}

section {
  width: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
  background-color: white;
  text-align: center;
  margin: auto;
  padding: 100px;
}

footer {
  font-style: italic;
}